<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="../styles.css" />
    <title>Store</title>
   

   

</head>
<body  >
  <div class="d-none " id="alertMessage">
  <div class="alert w-75 " role="alert" >
   Hasta luego!
  </div></div>
  <div class=""  id="bodyHome">
  <% if (sessionData ) { %>
    <div >
      <h1 id="titleShopClient"  >SHOP</h1>
      <span class="hrShop"></span>
        </div>
    <%- include('../partials/navBarUser.ejs') %> 
      <div class="d-flex flex-row row ms-2 mb-5 ">
      <% productos.forEach((producto ,key) => { %> 
          <div class="card  m-5 cardProduct" style="width: 15rem;">
            <img src="<%= producto.img %>" class=" cardImage"  width="150px" height="150px" alt="<%= producto.img %>" >
              <div class="card-body   ">
                <a  class="aLinkToProduct "href="/api/productos/producto/<%= producto._id %>"><h5 class="card-title "><%= producto.titulo %></h5></a>
                <p class="  cardDescrption"><small ><%= producto.descripcion %></small></p>
               <div class="contentPriceAndCode">
                <p class="  cardPrice">$<%= producto.precio %> </p>
                <p class=" cardCode">ID : <%= producto.codigo %></p>
               
               </div>
                <a href="/api/carrito/add/<%= producto._id  %> " class="buttonAddToCart ">ADD TO CAR</a>
              </div>
            </div>
           
       <% }) %> 
            
          </div>
  
  <% }else{  %> 
    <div class=" ms-2 mb-5 ">
      <h1 class="  text-dark dontProductText text-opacity-10">There are no products</h1>
    </div>
  <% } %> 
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
<script src="../main.js"></script>

</html>